/* Shop page styles */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Frank+Ruhl+Libre:wght@300..900&family=Fredoka:wght@300..700&family=Karma:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Frank+Ruhl+Libre:wght@300..900&family=Fredoka:wght@300..700&family=Karma:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

#products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1300px;
  margin: 0 auto;
}

.product {
  width: 292px;
  height: 100%;
  gap: 20px;
  padding-bottom: 20px;
}

.p-image {
  width: 292px;
  height: 292px;
  border: 2px solid rgb(138, 214, 25);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.p-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in;
}

.product:hover .p-image img {
  scale: calc(1.1);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 0.3s ease-in;
  position: absolute;
  gap: 10px;
}

.icons i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.2);
}

.icons i:hover {
  background-color: #0A472E;
  color: white;
}

.p-image:hover .icons {
  visibility: visible;
}


.p-info h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #0A472E;
  padding: 10px 0 10px 0;
  font-weight: 400;
}

.p-info bdi {
  color: #DD3333;
  font-family: "NotoSans-Bold", sans-serif;
  font-weight: bold;
  font-size: 15px;
}


.p-info {
  text-align: center;
}
