@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcffea;
}

#products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1500px;
  background-color: white;
  align-items: center;
  margin: auto;
  padding: 40px;
  padding-left: 80px;
}

.product {
  width: 300px;
  height: 300px;
  margin-bottom: 80px;
}

.p-image {
  width: 300px;
  height: 300px;
  border: 2px solid rgb(138, 214, 25);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.p-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in;
}

.p-info {
  text-align: center;
}

.p-info h1 {
  color: #0a472e;
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  padding: 10px;
}

.p-info bdi {
  color: #DD3333;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 15px;
  font-weight: bold;
}


.product:hover .p-image img {
  scale: calc(1.1);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  gap: 10px;
}

.icons i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.2);
}

.icons i:hover {
  background-color: rgb(138, 214, 25);
  color: white;
}

.p-image:hover .icons {
  visibility: visible;
}

.sub-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0a472e;
  padding: 15px;
  color: white;
}

.social {
  display: flex;
  gap: 15px;
}

.social i {
  cursor: pointer;
  width: 14px;  
} 

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 50px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #0a472e;
  font-family: "DM Sans", sans-serif;
}

.logo img {
  width: 50px;
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 15px;
  color: black;
  transition: all 0.3s ease-in;
} 

.nav-links a {
  text-decoration: none;
  color: #111111;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in;
}

.nav-links a:hover {
  color: #0a472e;
}

.call {
  display: flex;
  align-items: center;
  gap: 10px;
}

.call i {
  font-size: 24px;
  color: #0a472e;
}

.call span b {
  color:  #111111;
  font-family: "NotoSans-Bold",sans-serif;
  font-size: 16px;
}

.call span a {
  text-decoration: none;
  color: #111111;
  font-family: "NotoSans-Bold", sans-serif;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in;
}

.call span a:hover {
  color: #DD3333;
}
